<div class="wrap">

    <div class="image">
        <b>Вакансії</b>
    </div>

    <h2>Наші вакансії</h2>

    <div class="info">

        <div class="card">
            <img src="https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Fbenefits-img-1.svg?alt=media&token=9601c74f-e430-4c3f-8827-bb2d36f1c670">
            <b>Чудовий старт кар’єри</b>
        </div>

        <div class="card">
            <img src="https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Fbenefits-img-2.svg?alt=media&token=80186332-a0ff-4543-a8a8-b702656ebec0">
            <b>Контакти</b>
        </div>

        <div class="card">
            <img src="https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Fbenefits-img-3.svg?alt=media&token=c5707032-65bc-4b5e-8710-656eaaad6285">
            <b>Гнучкий графік роботи</b>
        </div>

        <div class="card">
            <img src="https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Fbenefits-img-4.svg?alt=media&token=46759027-9c22-4e7a-9782-418c1c99ffa7">
            <b>Регулярні виплати</b>
        </div>

    </div>

    <div class="scuter">
        <div class="img"></div>
        <b>Кур’єр на скутер компанії</b>
        <p>
            Розшукуємо молодих та комунікабельних хлопців для співпраці з нашою командою.
            Якщо ви підходите за усіма критеріями нижче, Вам подобаєються наші умови співпраці і Ви любите їздити на скутері — Ви той хто нам потрібен!)</p>
    </div>

    <h2>Працюй з нами!</h2>

    <div class="info bottom-info">

        <div class="card">
            <div class="img" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Fma-pizza.jpg.webp?alt=media&token=e13eb4d1-948a-432a-844d-c44c8c635e2b');"></div>
            <b>Дружній колектив</b>
        </div>

        <div class="card">
            <div class="img" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Fadvantages-img-2.jpg.webp?alt=media&token=7b900f3a-44f4-463f-9a1a-d90c75211977');"></div>
            <b>Реальний кар’єрний ріст</b>
        </div>

        <div class="card">
            <div class="img" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Fskuter-vakansiyi-737x492.jpg?alt=media&token=88082027-74c3-4d0f-a40d-e406cd08e69e');"></div>
            <b>Погодинна оплата праці</b>
        </div>

        <div class="card">
            <div class="img" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Fadvantages-img-4.jpg?alt=media&token=8966aa43-0c9e-4ddf-8b9f-2d6dd1e38f58');"></div>
            <b>Гнучкий графік роботи</b>
        </div>

    </div>

    <app-vacancy></app-vacancy>

</div>