@import '/src/app/shared/styles/mixins/size';
@import '/src/app/shared/styles/mixins/flex';
@import '/src/app/shared/styles/mixins/rounded';
@import '/src/app/shared/styles/variables/page-colors';
@import '/src/app/shared/styles/variables/text-colors';

.wrap {
    width: 1200px;
    margin: 0 auto;

    @media screen and (width < 1200px) and (width > 551px){
        width: 90%;
    }

    @media screen and (width < 550px) {
        width: 95%;
    }

    .info {
        @include size(100%, 120px);
        @include rounded;
        @include flex(row, flex-start, center, nowrap, 0);
        padding-left: 50px;
        background-color: $main-color;
        width: 100%;
        margin-bottom: 20px;

        @media screen and (width < 1000px){
            @include size(95%, 40px);
            padding-left: 0;
            margin: 0 auto;
            background-color: transparent;
        }

        h2 {
            color: $text-main;
            font-size: 2rem;
            position: relative;


            &::before {
                @media screen and (width < 1000px) {
                    display: none;
                }
                content: '';
                position: absolute;
                @include size(80px, 50px);
                top: -30px;
                left: -45px;
                background-repeat: no-repeat;
                background-image: url('https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Ftitle-decor.svg?alt=media&token=bf67d868-844c-49af-8ae3-4b9fc4e69e17');
            }

            
        }
    }

    .subCategories {
        @include flex(row, flex-start, flex-start, nowrap, 5px);
        margin-bottom: 15px;
        overflow: auto;

        @media screen and (width < 1000px){
            @include size(95%, 40px);
            padding-left: 0;
            margin: 20px auto;
            background-color: transparent;
        }

        button {
            @include flex(row, flex-start, flex-start, nowrap, 5px);
            color: $text-main;
            font-weight: 500;
            border: 1px solid $border-gray;
            border-radius: 8px;
            padding: 10px 20px;
            background-color: transparent;

            transition-duration: 500ms;

            &:hover {
                transform: scale(1.01);
                border-color: $text-green;
            }
        }
    }

    .cardWrap {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 600px;
        grid-column-gap: 20px;
        grid-row-gap: 20px;

        @media screen and (width < 1000px) and (width > 551px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (width < 550px) {
            margin: 0 auto;
            width: 95%;
            grid-template-columns: repeat(1, 1fr);
            grid-column-gap: 0;
        }
    }

    .card {
        @include rounded;
        @include size(100%, 600px);
        border: 1px solid $border-gray;
        position: relative;

        .favourite {
            top: 10px;
            right: 10px;
            position: absolute;
            height: 22px;
            stroke: $secondary-color;
            transition-duration: 500ms;

            &:hover {
                stroke: $text-green;
                fill: $text-green;
                cursor: pointer;
            }

        }

        .img {
            @include rounded;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            width: 100%;
            height: 60%;
            background-size: cover;
            background-position: center;

            transition-duration: 500ms;

            &:hover {
                cursor: pointer;
            }
        }

        .text {
            @include flex(column, space-between, flex-start, nowrap, 0);
            height: 40%;
            padding: 15px 15px;


            .top-text,
            .bottom-text {

                h2 {
                    font-size: 1rem;
                    color: $text-main;
                    margin-bottom: 20px;
                    transition-duration: 500ms;

                    &:hover {
                        color: $text-green;
                        cursor: pointer;
                    }
                }

                p {
                    font-weight: 500;
                    font-size: .9rem;
                    color: $text-gray;
                }

                span {

                    &:nth-of-type(1) {
                        font-size: 1rem;
                        font-weight: bold;
                    }

                    &:nth-of-type(2) {
                        font-size: .8rem;
                        color: $text-gray;
                    }
                }
            }

            .buttons {
                @include flex(row, space-between, center, nowrap, 0);
                width: 100%;

                .counter {
                    @include flex(row, center, center, nowrap, 0);
                    width: 40%;
                    height: 45px;
                    border-radius: 8px;
                    border: 1px solid $border-gray;

                    input {
                        @include size(33%, 45px);
                        color: $text-main;
                        font-weight: normal;
                        text-align: center;
                        border: none;
                        background-color: transparent;
                        font-size: 2rem;

                        &:nth-of-type(1) {
                            border-top-left-radius: 8px;
                            border-bottom-left-radius: 8px;
                        }

                        &:nth-of-type(2) {
                            height: 30px;
                            border-left: 1px solid $border-gray;
                            border-right: 1px solid $border-gray;
                            font-size: 1rem;
                        }

                        &:nth-of-type(3) {
                            border-top-right-radius: 8px;
                            border-bottom-right-radius: 8px;
                        }

                    }

                }

                .toBasket {
                    color: white;
                    font-weight: bold;
                    background-color: $secondary-color;
                    border: none;
                    border-radius: 8px;
                    width: 55%;
                    height: 45px;

                    transition-duration: 500ms;

                    &:hover {
                        background-color: $text-green;
                        cursor: pointer;
                    }
                }
            }

        }


    }

}