<div class="wrap">
    <img src="https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Flogo-pizza-red.svg?alt=media&token=37b6e28b-b442-4fd0-8d39-8f7f073f1784" class="logo">
 
    <div class="info">
        <b class="red">+38 097 18 306 18</b>
        <p>нд-чт 09:30 - 21:00</p>
        <p>пт-сб 09:30 - 22:00</p>
    </div>

    <div class="social">
        <div><img src="https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Fi-facebook.svg?alt=media&token=c739a099-bd2b-4d6b-9f0b-2f7ec1445208"></div>
        <div><img src="https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Fi-instagram.svg?alt=media&token=093c6ed0-2e6f-4cf8-935d-8e6ad306eb58"></div>
        <div><img src="https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Fi-you-tube.svg?alt=media&token=ec7548df-2d3b-491b-ae0b-70b511eae14d"></div>
    </div>

    <div class="app">
        <p>Завантажуйте додаток</p>
        <div>
            <img src="https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Fapp-store-download.svg?alt=media&token=0a06b715-eaa7-4322-ae1f-a902664972f0">
            <img src="https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Fgoogle-play-download.svg?alt=media&token=d2d61e03-deba-4571-9e49-490074f01581">
        </div>
    </div>

    <ul class="menu">
        <li><b>Меню:</b></li>
        <li class="hover gray"><a>Піца</a></li>
        <li class="hover gray"><a>Салати</a></li>
        <li class="hover gray"><a>Десерти</a></li>
        <li class="hover gray"><a>Напої</a></li>
    </ul>

    <ul class="about">
        <li><b>Про компанію:</b></li>
        <li><a class="hover gray">Про нас</a></li>
        <li><a class="hover gray">Доставка та оплата</a></li>
        <li><a class="hover gray">Акції</a></li>
        <li><a class="hover gray">Контакти</a></li>
        <li><a class="hover gray">Вакансії</a></li>
        <li><a class="hover gray">Новини</a></li>
        <li><a class="hover gray">FAQ</a></li>
    </ul>

    <ul class="location">
        <li><b>Львів</b></li>
        <li><a class="hover gray">вул. Пасічна, 18</a></li>
        <li><a class="hover gray">просп. Червоної Калини, 60 (ТЦ Арсен)</a></li>
        <li><a class="hover gray">вул. Івана Пулюя, 12</a></li>
        <li><a class="hover gray">вул. Малоголосківська, 16</a></li>
        <li><a class="hover gray">вул. Китайська, 10</a></li>
        <li><a class="hover gray">вул. Івана Франка, 71</a></li>
        <li><a class="hover gray">вул. Залізнична, 19</a></li>
    </ul>

</div>

<div class="under">
    <p class="gray">©2023 MA Pizza Всі права захищено</p>
    <p class="hover gray"><a>Політика конфеденційності</a></p>
    <p class="hover gray"><a>Оферта</a></p>
    <div class="cards">
        <img src="https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Fvisa-card.svg?alt=media&token=3dd93adf-fd0c-4977-942d-72b93867550a">
        <img src="https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Fmaster-card.svg?alt=media&token=26b75f28-c025-4152-8e7d-6a81829a5571">
    </div>
    <p class="hover gray"><a>Розробка сайтів</a></p>
</div>