<div class="wrap wrap-top">

    <div class="info">
        <b class="red">+38 097 18 306 18</b>
        <p>нд-чт 09:30 - 21:00</p>
        <p>пт-сб 09:30 - 22:00</p>
    </div>

    <a [routerLink]="[ '/about-us']" class="hover">Про нас</a>
    <a [routerLink]="[ '/dostavka']" class="hover">Доставка та оплата</a>
    <a [routerLink]="[ '/actions']" class="hover">Акції</a>
    <a [routerLink]="[ '/contacts']" class="hover">Контакти</a>
    <a [routerLink]="[ '/career']" class="hover">Вакансії</a>
    <a [routerLink]="[ '/news']" class="hover">Новини</a>
    <a [routerLink]="[ '/faq']" class="hover">FAQ</a>

    <p class="long">
        <img
            src="https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Fi-header-top.svg?alt=media&token=364990b1-2b99-42f0-984c-019a3b902a03">
        <b class="green">29 хв</b> — середній час доставки
    </p>
    <div class="favourite" [routerLink]="[ '/favourite' ]">

        <svg class="favourite_svg" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.5166 17.8416C10.2333 17.9416 9.76663 17.9416 9.48329 17.8416C7.06663 17.0166 1.66663 13.5749 1.66663 7.74159C1.66663 5.16659 3.74163 3.08325 6.29996 3.08325C7.81663 3.08325 9.15829 3.81659 9.99996 4.94992C10.8416 3.81659 12.1916 3.08325 13.7 3.08325C16.2583 3.08325 18.3333 5.16659 18.3333 7.74159C18.3333 13.5749 12.9333 17.0166 10.5166 17.8416Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>

        <div class="favouriteCount">
            <p>{{ totalFavourite }}</p>
        </div>

    </div>

    <button (click)="openDialog('100ms', '500ms')" *ngIf="!isLogined">
        <img
            src="https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Ficons8-user-64.png?alt=media&token=f9a410b9-6957-41dd-83a7-f99849a42516">
        <span>Вхід</span>
    </button>

    <button *ngIf="isLogined" [routerLink]="[loginUrl]">
        <img
            src="https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Ficons8-user-64.png?alt=media&token=f9a410b9-6957-41dd-83a7-f99849a42516">
        <span>В кабінет</span>
    </button>


</div>

<div class="wrap wrap-bottom">
    <img [routerLink]="[ '' ]"
        src="https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Flogo-pizza-red.svg?alt=media&token=37b6e28b-b442-4fd0-8d39-8f7f073f1784"
        class="logo">

    <div class="categories">
        <div class="category" *ngFor="let category of categoriesArray" [routerLink]="[ category.path ]"
            routerLinkActive="category-active">
            <img [src]="category.file">
            <p>{{ category.name }}</p>
        </div>
    </div>
    <div class="order" (click)="openBasket('100ms', '500ms')">
        <div class="basket">
            <img
                src="https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2F4544811-basket-business-comerce-delivery-shop_121412.png?alt=media&token=7be562d1-bad9-4a10-a3b6-fff09805eba8">
            <div class="basket-count">
                <p> {{ totalProducts }}</p>
            </div>
        </div>

        <span class="summ">{{ totalPrice }} грн</span>
    </div>
</div>