<div class="wrap wrap-top">
    <div class="info">
        <b class="red">+38 097 18 306 18</b>
        <p>нд-чт 09:30 - 21:00</p>
        <p>пт-сб 09:30 - 22:00</p>
    </div>

    <a class="hover">Про нас</a>
    <a class="hover">Доставка та оплата</a>
    <a class="hover">Акції</a>
    <a class="hover">Контакти</a>
    <a class="hover">Вакансії</a>
    <a class="hover">Новини</a>
    <a class="hover">FAQ</a>
    <p class="long">
        <img
            src="https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Fi-header-top.svg?alt=media&token=364990b1-2b99-42f0-984c-019a3b902a03">
        <b class="green">29 хв</b> — середній час доставки
    </p>
    <div class="favourite">
        <img class="favourite"
            src="https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Ficonmonstr-heart-thin.svg?alt=media&token=c44fabcd-13d9-4235-887f-383c668440c0">
        <div class="favouriteCount">
            <p>0</p>
        </div>
    </div>

    <button>
        <img
            src="https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Ficons8-user-64.png?alt=media&token=f9a410b9-6957-41dd-83a7-f99849a42516">
        <span>Вхід</span>
    </button>
</div>

<div class="wrap wrap-bottom">
    <img 
    src="https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Flogo-pizza-red.svg?alt=media&token=37b6e28b-b442-4fd0-8d39-8f7f073f1784" 
    class="logo">
    <div class="categories">
        <div class="category">test</div>
        <div class="category">test</div>
        <div class="category">test</div>
        <div class="category">test</div>
    </div>
    <div class="order">
        <div class="basket">
            <img src="https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2F4544811-basket-business-comerce-delivery-shop_121412.png?alt=media&token=7be562d1-bad9-4a10-a3b6-fff09805eba8">
            <div class="basket-count">
                <p>0</p>
            </div>
        </div>

        <span class="summ">0 грн</span>
    </div>
</div>