<div class="wrap">
    
    <input class="exit" type="button" value="ВИЙТИ" (click)="logout()">

    <div class="router-links">
        <input [routerLink]="[ 'actions' ]" routerLinkActive="route-active" type="button" value="Акції">
        <input [routerLink]="[ 'categories' ]" routerLinkActive="route-active" type="button" value="Категорії">
        <input [routerLink]="[ 'feedback' ]" routerLinkActive="route-active" type="button" value="Відгуки/Вакансії">
        <input [routerLink]="[ 'news' ]" routerLinkActive="route-active" type="button" value="Новини">
        <input [routerLink]="[ 'products' ]" routerLinkActive="route-active" type="button" value="Продукти">
        <input [routerLink]="[ 'orders' ]" routerLinkActive="route-active" type="button" value="Замовлення">
    </div>

    <router-outlet></router-outlet>

</div>