@import '/src/app/shared/styles/mixins/size';
@import '/src/app/shared/styles/mixins/flex';
@import '/src/app/shared/styles/mixins/rounded';
@import '/src/app/shared/styles/variables/page-colors';
@import '/src/app/shared/styles/variables/text-colors';

.wrap {
    @include flex(column, flex-start, flex-end, nowrap, 0);
    width: 1200px;
    margin: 0 auto;

    @media screen and (width < 1200px) {
        width: 90%;
    }

    .exit {
        @include rounded;
        padding: 20px 30px;
        border: none;
        color: white;
        font-size: bold;
        margin-bottom: 15px;
        background-color: $secondary-color;
        transition-duration: 500ms;

        &:hover {
            cursor: pointer;
            background-color: $text-green;
            transform: scale(1.05);
        }
    }

    .router-links{

        @include flex(row, flex-end, center, nowrap, 10px);
        width: 100%;

        input{
            @include rounded;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            background-color: $main-color;
            border: none;
            border-bottom: 2px solid $border-gray;
            font-size: 1rem;
            font-weight: bold;
            color: $text-main;
            height: 50px;
            width: 50%;
            transition-duration: 200ms;

            &:hover{
                cursor: pointer;
                border-width: 3px;
            }
        }
    }
}