@import '/src/app/shared/styles/mixins/size';
@import '/src/app/shared/styles/mixins/flex';
@import '/src/app/shared/styles/mixins/rounded';
@import '/src/app/shared/styles/variables/page-colors';
@import '/src/app/shared/styles/variables/text-colors';


.wrap{
    width: 70%;
    margin: 0px auto;

    @media screen and (width < 1200px) and (width > 801px) {
        width: 95%;
    }

    @media screen and (width < 800px) {
        width: 92%;
    }
    
    .action{
        @include size(100%, 300px);
        @include flex(row, space-between, center, nowrap, 5%);

        &:nth-of-type(even) {
            @include flex(row-reverse, space-between, center, nowrap, 5%);

            @media screen and (width < 800px) {
                @include flex(column, space-between, center, nowrap, 0);
                width: 100% auto; 
            }    
        }

        @media screen and (width < 800px) {
            @include size(100%, auto);
            @include flex(column, space-between, center, nowrap, 0);
        }

        margin-bottom: 40px;

        .img{
            @include size(50%, 100%);
            @include rounded;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 0;
            transition-duration: 500ms;
    
            &:hover{
                transform: scale(1.01);
                cursor: pointer;
            }

            @media screen and (width < 800px) {
                @include size(100%, 300px);
            }
        }

        .text{
            @include size(50%, 100%);
            @include flex(column, space-between, flex-start, nowrap, 2%);  
            padding: 40px 0;

            @media screen and (width < 800px) {
                width: 100%; 
            }

            h2{
                color: $text-main;
                font-size: 1.8rem;
            }
            
            div{
                color: $text-gray;
            }

            a{
                font-weight: bold;
                text-transform: uppercase;
                color: $secondary-color;
            }
   
        }
    }
}

.hover{
    transition-duration: 400ms;

    &:hover{
        color: $text-green !important;
        cursor: pointer;
    }
}