<div class="wrap">

    <h2>Доставка та оплата</h2>

    <div class="text">
        <p>!Зверніть увагу!<br>
            Через перебої з електроенергією, на високі поверхи не доставляємо. Будемо вдячні, якщо зустрінете нашого
            кур’єра поруч з&nbsp; під’їздом або вийдете на зустріч до 4-го поверху. Хочемо, щоб усі наші гості отримали
            свою гарячу піцу вчасно. Дякуємо за розуміння.<br>
            Ваша MA</p>
        <p>МA Pizza має власну кур’єрську службу, яка займається доставкою піци по Львову. Ви можете зробити замовлення
            на сайті чи зателефонувати до нашого кол-центру за номером +38 (097) 18 306 18. Перевірте, будь ласка, до
            якої зони доставки відноситься ваша адреса, адже від цього залежить, як швидко наш кур’єр зможе доставити
            Ваше замовлення. Щоб отримати безкоштовну доставку від МA Pizza, потрібно зробити замовлення на мінімальну
            суму – 300 грн або 400 грн відповідно до зон доставки, що вказані нижче.</p>
    </div>

    <div class="info">
        <div class="card">
            <img src="https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Fgreen-zone-img.svg?alt=media&token=40ab36af-71ef-4eb5-b11b-5e200b8ea7f8">
            <div class="text">
                <b>Зелена зона</b>
                <div>
                    <p>Середній час доставки складає</p>
                    <span>< 29 хв</span>
                </div>
                <div>
                    <p>Мінімальна сума замовлення</p>
                    <span>300 грн</span>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Fyellow-zone-img.svg?alt=media&token=22371715-4319-4ce6-b423-1c274ddd1c56">
            <div class="text">
                <b>Жовта зона</b>
                <div>
                    <p>Середній час доставки складає</p>
                    <span>< 59 хв</span>
                </div>
                <div>
                    <p>Мінімальна сума замовлення</p>
                    <span>400 грн</span>
                </div>
            </div>
        </div>
    </div>

    <div class="map">
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d82404.41736506618!2d23.8474905!3d49.8022724!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473ae7c381f9a667%3A0xcc28328afee7d0f2!2zTWFya2V0IE1BIFBpenphIC0g0LTQvtGB0YLQsNCy0LrQsCDQv9GW0YbQuCDRgtCwINC80LDQs9Cw0LfQuNC9INGW0LzQv9C-0YDRgtC90LjRhSDQv9GA0L7QtNGD0LrRgtGW0LI!5e0!3m2!1suk!2sua!4v1685193016517!5m2!1suk!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <h2 class="header-bottom">Оплата</h2>

    <div class="text">
        <p>
            Наразі MA Pizza пропонує <b class="black">3 способи</b> оплати: онлайн через сервіс LiqPay, готівкою під час отримання замовлення, карткою через термінал під час отримання замовлення. Будь ласка, завчасно попередьте нашого менеджера, який спосіб оплати  буде для Вас зручний, якщо оплата відбуватиметься безпосередньо під час отримання доставки.</p>
    </div>

    <div class="info payment">
        <div class="card">
            <img src="https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Fpayment-img-1.svg?alt=media&token=f25658a1-9199-4803-a8e3-a17f5bff73a1">
            <div class="text">
                <b>Готівка</b>
                <div>
                    <p>Розраховуйтесь готівкою або карткою при отриманні кур’єрові</p>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Fpayment-img-2.svg?alt=media&token=90940ac7-f2c2-421e-b5c7-4f83439b6554">
            <div class="text">
                <b>Кур'єр з терміналом</b>
                <div>
                    <p>Розраховуйтесь онлайн через сервіс LiqPay або його аналоги</p>
                </div>
            </div>
        </div>

        <div class="card center">
            <img src="https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Fpayment-img-3.svg?alt=media&token=2ade796b-89d9-4254-9f79-daa718acd49f">
            <div class="text">
                <b>Онлайн оплата</b>
                <div>
                    <p>Розраховуйтесь онлайн через сервіс LiqPay або його аналоги</p>
                </div>
            </div>
        </div>
        
    </div>


</div>