@import '/src/app/shared/styles/mixins/size';
@import '/src/app/shared/styles/mixins/flex';
@import '/src/app/shared/styles/mixins/rounded';
@import '/src/app/shared/styles/variables/page-colors';
@import '/src/app/shared/styles/variables/text-colors';

.wrap {
  width: 1200px;
  margin: 0 auto;

  @media screen and (width < 1200px) and (width > 551px) {
    width: 90%;
  }

  @media screen and (width < 550px) {
    width: 95%;
  }

  .image {
    @include size(100%, 350px);
    @include flex(row, center, flex-end, nowrap, 0);
    @include rounded;

    box-shadow: inset 0px -100px 187px 11px rgba(0, 0, 0, 0.7);
    padding-bottom: 20px;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Fbanner-img-2.jpg.webp?alt=media&token=c7e3c738-317c-4fca-a688-146eba6e14e0');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    b {
      color: white;
      font-size: 2rem;
    }
  }

  .info {
    @include size(1200px, 245px);
    @include rounded;
    box-shadow: 13px 13px 0px 5px $main-color;
    padding: 35px 20px;
    border: 1px solid gray;
    margin: 100px 0;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;

    @media screen and (width < 1200px) and (width > 551px) {
      @include size(100%, auto);
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    @media screen and (width < 550px) {
      @include size(100%, auto);
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, 1fr);
      row-gap: 20px;
    }

    div {
      @include flex(column, space-between, flex-start, nowrap, 0);

      div {

        p,
        b {
          margin-top: 10px;
        }

        p {
          color: $text-gray;
        }
      }

    }
  }

  .big-info {

    .card {
      @include flex(row, space-between, flex-start, nowrap, 0);
      margin-bottom: 50px;

      @media screen and (width < 1000px) {
        @include flex(column, center, center, nowrap, 0);

        &:nth-of-type(1) {
          @include flex(column-reverse, center, center, nowrap, 0);
        }
      }

      .text {
        font-size: 1.3rem;
        margin-top: 20px;
        margin-bottom: 20px;

        b {
          color: $text-main;
          font-size: 2rem;
        }

        p {
          color: $text-gray;
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }

      .bottom {
        margin: 0;
        margin-right: 30px;

        @media screen and (width < 1000px){
          margin: 0;
        }
      }

      img {
        @include rounded;
        width: 55%;
        margin-left: 30px;

        @media screen and (width < 1000px) {
          @include size(100%, auto);
          margin: 0;
        }
      }


    }
  }

  .video {
    width: 900px;
    margin: 0 auto;

    @media screen and (width < 1200px){
      @include size(100%, auto);
    }

    h2 {
      text-align: center;
      color: $text-main;
      font-size: 2rem;
      position: relative;

      @media screen and (width < 1200px) {
        font-size: 1.5rem;
      }

      &::before {
        content: '';
        position: absolute;
        @include size(80px, 50px);
        top: -30px;
        left: -25px;
        background-repeat: no-repeat;
        background-image: url('https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Ftitle-decor.svg?alt=media&token=bf67d868-844c-49af-8ae3-4b9fc4e69e17');

        @media screen and (width < 1200px) {
          display: none;
        }
      }
    }

    video {
      margin: 30px auto;

      @media screen and (width < 1200px){
        @include size(100%, auto);
      }
    }

    .text {
      font-size: 1.3rem;
      color: $text-gray;

      p {
        margin-bottom: 20px;
      }

      img {
        @include rounded;
        width: 100%;
      }
    }

    .bottom-header {
      margin: 150px auto;
      width: 60%;
    }
  }

}

.wrapVacancy {
  @include rounded;
  @include size(1200px, 85vh);
  @include flex(row, center, center, nowrap, 0);
  border: 1px solid $border-gray;

  @media screen and (width < 1200px){
    @include size(100%, auto);
    @include flex(column, center, center, nowrap, 0);
    border: none;
  }

  .left {
    @include size(35%, 90%);
    @include flex(column, center, center, nowrap, 40px);
    border-right: 1px solid $border-gray;

    @media screen and (width < 1200px){
      @include rounded;
      @include size(100%, auto);
      @include flex(column, space-between, center, nowrap, 40px);
      padding-top: 10%;
      border: 1px solid $border-gray;
    }

    .top,
    .bottom {
      @include flex(column, center, flex-start, nowrap, 20px);
      width: 70%;
      color: $text-main;

      .text {
        @include flex(row, flex-start, center, nowrap, 20px);
        color: $text-gray;
      }
    }

    .top {
      border-bottom: 1px solid $border-gray;
      padding-bottom: 30px;

      .text {
        span {
          transition-duration: 500ms;

          &:hover {
            color: $text-green;
            cursor: pointer;
          }
        }
      }
    }

  }

  .right {
    @include size(65%, 90%);
    @include flex(row, center, center, nowrap, 0);

    @media screen and (width < 1200px){
      @include rounded;
      @include size(100%, auto);
      @include flex(column, space-between, center, nowrap, 40px);
      margin-top: 20px;
      padding: 20px 0;
      border: 1px solid $border-gray;
    }

    form {
      @include size(95%, 95%);
      @include flex(column, space-evenly, center, nowrap, 0);

      h2 {
        margin: 50px auto;
        text-align: center;
        width: 70%;
        color: $text-main;
        font-size: 2rem;
        position: relative;


        &::before {
          content: '';
          position: absolute;
          @include size(80px, 50px);
          top: -30px;
          left: -35px;
          background-repeat: no-repeat;
          background-image: url('https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Ftitle-decor.svg?alt=media&token=bf67d868-844c-49af-8ae3-4b9fc4e69e17');
        }
      }

      input,
      textarea {
        @include size(80%, 55px);
        border-radius: 8px;
        padding: 0 10px;
        border: 1px solid $border-gray;
        margin-bottom: 10px;
      }

      textarea {
        height: 110px;
        resize: none;
        padding-top: 10px;
      }

      .bottom {
        @include size(80%, 55px);
        @include flex(row, space-between, center, nowrap, 0);

        @media screen and (width < 1200px){
          @include size(100%, auto);
          text-align: c;          
        }

        label {
          color: $secondary-color;
          transition-duration: 500ms;
          position: relative;
          margin-left: 35px;

          &::before {
            content: '';
            position: absolute;
            top: 5px;
            left: -32px;
            width: 30px;
            height: 30px;
            background-image: url('https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2F266074.png?alt=media&token=3ef86eb5-764e-4701-b5ca-014390e1dce9');
            background-size: 80%;
            background-repeat: no-repeat;
          }


          p {
            font-size: .7rem;
            color: $text-gray;
            margin-left: 35px;
          }

          &:hover {
            color: $text-green;
            cursor: pointer;
          }
        }

        input {
          display: none;
        }

        button {
          @include size(175px, 55px);
          @include rounded;
          border: none;
          background-color: $secondary-color;
          color: white;
          font-weight: bold;

          transition-duration: 500ms;

          &:hover {
            background-color: $text-green;
            cursor: pointer;
          }

        }

      }

    }
  }


}