<div class="wrap">

    <div class="image">
        <b>Про нас</b>
    </div>

    <div class="info">

        <div>
            <img
                src="https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Fbenefits-img-1.svg?alt=media&token=9601c74f-e430-4c3f-8827-bb2d36f1c670">
            <div>
                <b>Італійські продукти найвищої якості</b>
                <p>MA Pizza імпортує продукти топових європейських брендів</p>
            </div>
        </div>

        <div>
            <img
                src="https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Fbenefits-img-2.svg?alt=media&token=80186332-a0ff-4543-a8a8-b702656ebec0">
            <div>
                <b>Неймовірний смак та хрустка скоринка</b>
                <p>MA Pizza готує тісто для піци лише на італійському борошні Caputo</p>
            </div>
        </div>

        <div>
            <img
                src="https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Fbenefits-img-3.svg?alt=media&token=c5707032-65bc-4b5e-8710-656eaaad6285">
            <div>
                <b>Професійні кухарі та піцайоли майстри своєї справи</b>
                <p>У МA Pizza працюють найкращі! Вболіваємо за розвиток кожного працівника!</p>
            </div>
        </div>

        <div>
            <img
                src="https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Fbenefits-img-4.svg?alt=media&token=46759027-9c22-4e7a-9782-418c1c99ffa7">
            <div>
                <b>Безкоштовна та швидка доставка у будь-який куточок м. Львів</b>
                <p>Середній час доставки у зеленій зоні – 29 хв.</p>
            </div>
        </div>
    </div>

    <div class="big-info">
        <div class="card">
            <div class="text">
                <b>Як у Львові готують справжню італійську піцу</b>
                <p>Готувати справжню італійську піцу можуть або італійці, або ті, хто в них навчалися. Серед нас немає
                    італійців, тож нашим завданням було перейняти досвід у віртуозів цієї справи. Вважаємо, що це нам
                    вдалося! Щодня ми вдосконалюємося, щоб Ви ще більше закохувалися у кулінарну спадщину Італії.
                    Оригінальні італійські рецепти, імпортні інгредієнти, трішки фантазії та любов до своєї роботи –
                    наші основні пріоритети.</p>
            </div>
            <img
                src="https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Fblock-img-1-884x493.jpg?alt=media&token=0e9c00a6-2069-4fde-a8d3-09ffdb0a42b6">
        </div>

        <div class="card">
            <img class="bottom"
                src="https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Fblock-img-2-884x493.jpg?alt=media&token=c6f5dd37-18b2-46fb-bbed-b1859101bfeb">

            <div class="text">
                <b>Трохи таланту, досвіду та позитиву</b>
                <p>Приготування піци – це не рутина, це кулінарна творчість. Наші талановиті піцайоли готують з любов’ю
                    та позитивом, щоб Ви відчули ці емоції, кусаючи кожен шматочок нашої піци. Далі до справи беруться
                    кур’єри, для яких будь-які затори не стануть перешкодою на шляху! Кожен у нашій команді працює
                    якнайкраще, щоб Ви знову і знову куштували справжню італійську піцу від MA Pizza.</p>
            </div>
        </div>

    </div>

    <div class="video">
        <h2>Імпортні продукти та піца з українською душею</h2>

        <video height="500" controls>
            <source
                src="https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Fmama-italiano-dostavka-italijskoyi-piczy-u-lvovi-1.mp4?alt=media&token=7f22d2ee-365b-42c1-9b88-3b6d7f2b27a2"
                type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <div class="text">

            <p>MA Pizza є одним з лідерів на ринку імпортерів харчових продуктів. Ми самі обираємо бренди, перевіряємо
                якість товарів та імпортуємо їх до України. Переглянути увесь асортимент та здійснити покупку Ви можете
                у наших маркетах.</p>
            <p>Мамма імпортує й інгредієнти для піци, яку готують піцайоли у наших пекарнях. Запевняємо &nbsp;Вас, що
                усі продукти, які використовуються для приготування піци – найвищої якості. Наприклад: тунець для
                «Тонно», хамон для «Прошуто Крудо» ми веземо з Іспанії; помідори для неаполітанського соусу, борошно для
                тіста – з Італії; часто співпрацюємо з польськими та німецькими виробниками продуктів, які чудово
                смакуватимуть у наших стравах.</p>
            <p>Ми збирали рецепти в Італії, навчалися у майстрів з Неаполя, щоб готувати для Вас справжню піцу у
                неаполітанському стилі.</p>
            <p>На жаль, ми ще не доставляємо замовлення дронами, але у львівському трафіку наші кур’єри почуваються
                комфортно і доставляють піцу вчасно.</p>
            <p>Buon Apettito, наші найдорожчі гурмани!</p>

            <img src="https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Fp-detail-img-2-1.jpg?alt=media&token=687260e2-9001-4b95-9cf2-554e11a5ce2d">

        </div>

        <h2 class="bottom-header">Любов з першого шматочка</h2>

        

    </div>

    <app-vacancy></app-vacancy>

</div>