<div class="wrap">

    <p class="long">
        <img
            src="https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Fi-header-top.svg?alt=media&token=364990b1-2b99-42f0-984c-019a3b902a03">
        <b class="green">29 хв</b> — середній час доставки
    </p>

    <a [routerLink]="[ '/about-us']" class="hover">Про нас</a>
    <a [routerLink]="[ '/dostavka']" class="hover">Доставка та оплата</a>
    <a [routerLink]="[ '/actions']" class="hover">Акції</a>
    <a [routerLink]="[ '/contacts']" class="hover">Контакти</a>
    <a [routerLink]="[ '/career']" class="hover">Вакансії</a>
    <a [routerLink]="[ '/news']" class="hover">Новини</a>
    <a [routerLink]="[ '/faq']" class="hover">FAQ</a>

    <div class="info">
        <b class="red">+38 097 18 306 18</b>
        <p>нд-чт 09:30 - 21:00</p>
        <p>пт-сб 09:30 - 22:00</p>
    </div>


</div>