<div class="wrap">

    <input class="add" type="button" value= "{{!addCheck ? 'Створити категорію' : 'Відміна'}}"(click)="addCheckToggle()" >

    <div class="actionForm" *ngIf="addCheck">

        <form [formGroup]="categoriesForm">
            <div class="top">
                <input formControlName = "name" type="text" placeholder="*Назва">
                <input formControlName = "path" type="text" placeholder="*Шлях">
            </div>


            <div class="bottom">
                <div>
                    <label for="file">
                        {{ !fileUploaded ? 'Прикріпити файл' : 'Файл прикріплено' }}
                        <p>до 3 Мб | png / jpg / svg</p>
                    </label>
                    <input (change)="upload($event)" formControlName = "file" id="file" type="file">
                    <input type="text" formControlName = "fileHiden">

                </div>
                <button (click)="createCategory()" [disabled]="categoriesForm.invalid">
                    <span>{{ !editStatus ? 'НАДІСЛАТИ ➤' : 'ЗБЕРЕГТИ ➤'}}</span>
                </button>
            </div>

        </form>

    </div>

    <table *ngIf="!addCheck" >

        <div>
            <th>
                <p>Назва</p>
            </th>
            <th>
                <p>Картинка</p>
            </th>
            <th>
                <p>Шлях</p>
            </th>
           
            <th>
                <p>Дії</p>
            </th>

        </div>

        <div *ngFor="let category of categoriesArray">
            <td>
                <p>{{ category.name }}</p>
            </td>
            <td>
                <img [src]="category.file">
            </td>
            <td>
                <p>{{ category.path }}</p>
            </td>
        
            <td class="buttons">
                <p (click)="editCategories(category)">Редагувати</p>
                <p (click)=" deleteCategories(category.id)">Видалити</p>
            </td>
        </div>

    </table>

</div>