@import '/src/app/shared/styles/mixins/size';
@import '/src/app/shared/styles/mixins/flex';
@import '/src/app/shared/styles/mixins/rounded';
@import '/src/app/shared/styles/variables/page-colors';
@import '/src/app/shared/styles/variables/text-colors';

.wrap {
    @include size(100%, 100%);
    @include flex(column, space-between, center, nowrap, 0);

    .top {
        @include size(100%, 100px);
        padding: 30px;
        @include flex(row, center, center, nowrap, 0);
        border-bottom: 1px solid $border-gray;

        button {
            position: absolute;
            top: 10px;
            right: 20px;

            font-size: 1.5rem;
            border: none;
            outline: none;
            background-color: transparent;

            &:hover {
                cursor: pointer;
            }
        }

        div {
            @include flex(column, center, center, nowrap, 0);

            h2 {
                margin: 0 auto;
                text-align: center;
                color: $text-main;
                font-size: 1.5rem;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    @include size(40px, 40px);
                    top: -15px;
                    left: -30px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-image: url('https://firebasestorage.googleapis.com/v0/b/mymapizza.appspot.com/o/images%2FpageImages%2Ftitle-decor.svg?alt=media&token=bf67d868-844c-49af-8ae3-4b9fc4e69e17');
                }
            }
        }
    }

    .main {
        @include size(100%, auto);
        text-align: center;
        font-weight: bold;

        .products {
            @include size(100%, 100%);

            .product {
                @include flex(row, center, center, nowrap, 0);
                @include size(95%, 160px);
                margin: 0 auto;
                border-bottom: 1px solid $border-gray;

                img {
                    @include rounded;
                    width: 25%;
                }

                .text {
                    height: 100%;
                    width: 75%;
                    @include flex(column, space-between, center, nowrap, 0);

                    @media screen and (width < 1000px) {
                        font-size: .7rem;
                    }

                    &__top,
                    &__bottom {
                        width: 100%;
                        height: 50%;
                        padding: 0 20px;
                        @include flex(row, space-between, center, nowrap, 0);

                        h2 {
                            font-size: 1rem;
                            color: $text-main;
                        }

                        input {
                            border: none;
                            background-color: transparent;

                            &:hover {
                                cursor: pointer;
                            }
                        }

                        .counter {
                            @include flex(row, center, center, nowrap, 0);
                            width: 40%;
                            height: 45px;
                            border-radius: 8px;
                            border: 1px solid $border-gray;

                            input {
                                @include size(33%, 45px);

                                @media screen and (width < 1000px) {
                                    @include size(30%, 45px);
                                }

                                color: $text-main;
                                font-weight: normal;
                                text-align: center;
                                border: none;
                                background-color: transparent;
                                font-size: 2rem;

                                &:nth-of-type(1) {
                                    border-top-left-radius: 8px;
                                    border-bottom-left-radius: 8px;

                                    @media screen and (width < 1000px) {
                                        @include size(35%, 45px);
                                    }
                                }

                                &:nth-of-type(2) {
                                    height: 30px;
                                    border-left: 1px solid $border-gray;
                                    border-right: 1px solid $border-gray;
                                    font-size: 1rem;
                                }

                                &:nth-of-type(3) {
                                    border-top-right-radius: 8px;
                                    border-bottom-right-radius: 8px;

                                    @media screen and (width < 1000px) {
                                        @include size(35%, 45px);
                                    }
                                }

                            }

                        }

                    }
                }
            }
        }

        .empty {
            margin: 40% auto;

            p {
                margin-bottom: 10px;
            }

            input {
                border-radius: 9px;
                font-weight: bold;
                padding: 20px;
                background-color: $secondary-color;
                color: white;
                border: none;

            }
        }


    }

    .phone {
        width: 100%;
        padding: 10px;

        input {
            @include rounded;
            border: 1px solid $border-gray;
            padding: 20px;
            height: 40px;
            width: 50%;
            margin-right: 10px;
        }

        span {
            color: $text-gray;
        }
    }

    .bottom {
        @include size(100%, 12%);
        @include flex(row, space-between, center, nowrap, 0);
        padding: 20px;
        box-shadow: 0px -5px 50px 5px rgba(0, 0, 0, 0.073);

        p {
            font-size: 1.2rem;
            color: $text-gray;
        }

        input {
            border-radius: 9px;
            font-weight: bold;
            padding: 15px 40px;
            background-color: $secondary-color;
            color: white;
            border: none;


            @media screen and (width < 800px) {
                padding: 20px 10px;
                font-size: .8rem;
            }

        }

    }

}