@import './app/shared/styles/fonts/font';

// Tostr
@import 'ngx-toastr/toastr';

*{
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.route-active{
    border-bottom: 3px solid #D22730 !important;
    box-shadow: inset 0px -10px 70px -60px #D22730;
}

.category-active{

    &::after{
        transform: scaleX(1) !important;
    
    }
}

.margin{
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
}

.pic{
    margin: 40px auto;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    justify-self: center;
}



