<div class="wrap">
    <div class="info">
        <h2>Напої від МА</h2>
    </div>

    <div class="cardWrap">

        <div class="card" [style.display]="product.display" *ngFor="let product of productsArray">

            <svg (click)="addToFavourite(product)" class="favourite" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.5166 17.8416C10.2333 17.9416 9.76663 17.9416 9.48329 17.8416C7.06663 17.0166 1.66663 13.5749 1.66663 7.74159C1.66663 5.16659 3.74163 3.08325 6.29996 3.08325C7.81663 3.08325 9.15829 3.81659 9.99996 4.94992C10.8416 3.81659 12.1916 3.08325 13.7 3.08325C16.2583 3.08325 18.3333 5.16659 18.3333 7.74159C18.3333 13.5749 12.9333 17.0166 10.5166 17.8416Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>

            <div class="img" [ngStyle]="{'background-image': 'url(' + product.file + ')'} " [routerLink]="[ '/product/'+product.category, product.id ]"></div>

            <div class="text">

                <div class="top-text">
                    <h2 [routerLink]="[ '/product/'+product.category, product.id ]">{{ product.name }}</h2>
                    <p>{{ product.text }}</p>
                </div>

                <div class="bottom-text">
                    <span>{{ product.price * product.count }} грн</span> /
                    <span>{{ product.mass }} г</span>
                </div>

                <div class="buttons">
                    <div class="counter">
                        <input type="button" value="–" (click)="productCount(product, false)">
                        <input type="text" [value]="product.count" disabled>
                        <input type="button" value="+" (click)="productCount(product, true)">
                    </div>

                    <input type="button" class="toBasket" value="ЗАМОВИТИ" (click)="addToBasket(product)">
                </div>

            </div>

        </div>

    </div>

</div>