<div class="wrap">

    <button (click)="closeDialog()">✖</button>
    <div>
        <h2>{{ registerCheck ? 'Реєстрація' : 'Вхід' }}</h2>
    </div>

    <ng-container *ngIf="!registerCheck">
        <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
            <input formControlName="email" type="email" placeholder="*Введіть емейл">
            <input formControlName="password" type="password" placeholder="*Введіть пароль">

            <input [disabled]="loginForm.invalid" type="submit" value="Увійти ➤">
        </form>

        <div class="register">
            <p>Ще не зареєстровані? <a (click)="registerCheckToggle()">Зареєструватися</a></p>
        </div>
    </ng-container>

    <ng-container *ngIf="registerCheck">
        <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
            <div class="two">
                <input formControlName="firstName" type="text" placeholder="*Ваше ім'я">
                <input formControlName="lastName" type="text" placeholder="*Ваше прізвище">
            </div>
            <div class="date-wrap">
                <input formControlName="birthDate" type="date">
                <p>Якщо це поле не буде заповнено, то ви не зможете отримувати додаткові бонуси до Дня Вашого народження</p>
            </div>
            <input formControlName="email" type="email" placeholder="*Введіть емейл">
            <input formControlName="phone" type="text" placeholder="*Введіть телефон">
            <input (input)="checkConfirmedPassword()" formControlName="password" type="password" placeholder="*Пароль">
            <input (input)="checkConfirmedPassword()" formControlName="passwordCheck" type="password"
                placeholder="*Повторіть пароль">
            <p *ngIf="checkVisibilityError('passwordCheck', 'matchError')">Повторіть пароль</p>

            <div class="checkbox-wrap">
                <input formControlName="check" type="checkbox">
                <p>Я погоджуюсь з <a (click)="closeDialog()" [routerLink]="[ '/privacy-policy' ]">Правилами користування</a></p>
            </div>

            <input [disabled]="registerForm.invalid" type="submit" value="Зареєструватись ➤">
        </form>

        <div class="register">
            <p>Вже зареєстровані? <a (click)="registerCheckToggle()">Увійти</a></p>
        </div>
    </ng-container>





</div>